name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-15-intel, macos-latest]

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v5

      - name: Build wheels
        run: uv build --wheel

      - uses: actions/upload-artifact@v4
        with:
          name: blossomtune-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./dist/*.whl